<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"
        >Dating App</a
      >

      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active"
              >Matches</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active"
              >Lists</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active"
              >Message</a
            >
          </li>
        </ng-container>

        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active"
            >Error</a
          >
        </li>
      </ul>

      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <img
          src="{{ user.photoUrl || './assets/user.png' }}"
          alt="{{ user.username }}"
          class="rounded cimage"
        />
        <a class="dropdown-toggle text-light btn" dropdownToggle
          >Welcome {{ user.username | titlecase }}</a
        >

        <div class="dropdown-menu mt-3 btn ml-2" *dropdownMenu>
          <a class="dropdown-item" routerLink="member/edit">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item btn" (click)="logout()">Logout</a>
        </div>
      </div>

      <form
        class="d-flex"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocompelete="off"
        *ngIf="(accountService.currentUser$ | async) === null"
      >
        <input
          class="form-control mr-2"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="model.username"
        />
        <input
          class="form-control mr-2"
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="model.password"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="Submit">
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
